<div class="container">
<h1>Editing Prop Casapi Info2</h1>

<%= render 'form', prop_casapi_info2: @prop_casapi_info2 %>

<%= link_to 'Show', @prop_casapi_info2 %> |
<%= link_to 'Back', prop_casapi_info2s_path %>
</div>
