

<h1>Prc</h1>

</br>
<%= link_to "Inicio", root_path %>
</br>

<div id="map"></div>

<%= render 'map', lat:@lat, lng: @lng, mapa: @mapa, key: @key, jsonPath: @jsonPath, PropDisplayName: @PropDisplayName %>

</br>
