



<h1>Predios</h1>
Se muestra sólo un radio de 200 mt para esta vista desde un punto de vitacura
</br>
<%= link_to "Inicio", root_path %>
</br>

<div id="map"></div>

<%= render 'map', lat:@lat, lng: @lng, mapa: @mapa, key: @key, jsonPath: @jsonPath, PropDisplayName: @PropDisplayName %>

</br>

