    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=@key%>&callback=initMap">
    </script>


    <script>
      function initMap() {
        var uluru = {lat: <%=@lat%> , lng: <%=@lng%>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13
          ,          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        map.data.loadGeoJson("<%=request.fullpath + '.json'%>");

			      //Create an info box for displaying names
			var infoBox = document.createElement('div');
			infoBox.innerHTML = "<div id='info-box' style='background-color:red'></div>";
			map.controls[google.maps.ControlPosition.RIGHT_TOP].push(infoBox);

			map.data.addListener('mouseover', function(event) {
			  map.data.revertStyle();
			  $('#info-box').text(event.feature.getProperty('nom_com'));
			  map.data.overrideStyle(event.feature, { fillColor: 'red' });
			});

			map.data.addListener('mouseout', function(event){
			  map.data.revertStyle();
			});

			map.data.setStyle(function(feature) {
			  return { fillColor: 'green',
			          strokeWeight: 1}
			});

      }



    </script>