<h1>Ejemplos ujujui</h1>
</br>
<%= link_to "PRC Las Condes", 'servicios/index2' %>
</br>

<%= link_to "Predios Vitacura", 'servicios/index3' %>

</br>

<%= link_to "1 Predio Vitacura", 'servicios/index4' %>

