
<div class="container">
<h1>New Direc </h1>
<h2>Importante -->Por ahora SOLO con Vitacura</h2>
<h2>Importante -->Agregar dirección completa, con comuna y ciudad</h2>

<%= render 'form', direc: @direc %>

<%= link_to 'Back', direcs_path %>
</div>
